.formControl {
  width: 30%;
  margin-bottom: 30px !important;
}
.country {
  width: 40%;
  margin-bottom: 30px !important;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-left: 280px;
}
